@font-face {
  font-family: "Montserrat";
  src: url(./asset/fonts/Montserrat-VariableFont_wght.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  font-family: Montserrat, sans-serif;
}

body {
  margin: 0 auto;
  text-align: center;
}

button {
  text-transform: uppercase;
  color: white;
  background: none;
  outline: none;
  border: 1px solid rgb(241, 241, 241);
  font-weight: 700;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  cursor: pointer;
}
button:hover {
  background: rgb(241, 241, 241);
  color: black;
}

nav {
  max-width: 1100px;
  margin: 0 auto;
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5px;
}
nav li {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 0.9rem;
  cursor: pointer;
  position: relative;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  padding: 20px 0;
}
nav li:first-child {
  color: rgb(95, 4, 170);
}
nav li:first-child::before {
  content: "";
  width: 100%;
  height: 5px;
  position: absolute;
  background: rgb(95, 4, 170);
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}
nav li:hover::before {
  content: "";
  width: 100%;
  height: 5px;
  position: absolute;
  background: rgb(95, 4, 170);
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}
@media screen and (max-width: 875px) {
  nav li {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 704px) {
  nav li {
    display: none;
  }
}
nav #langue {
  background: rgba(128, 128, 128, 0.25);
  border-radius: 50px;
  padding: 8px 16px;
}
nav #langue:hover::before {
  content: none;
}

header {
  background: url(/asset/img/bg.jpg) fixed center/cover;
  color: white;
  padding: 60px;
}
header h1 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 30px 0 35px;
}
header button {
  padding: 15px 30px;
  letter-spacing: 2px;
}
@media screen and (max-width: 875px) {
  header img {
    width: 60%;
  }
}

.header-txt {
  padding: 45px 0;
  max-width: 1100px;
  font-size: 1.2rem;
  line-height: 34px;
  margin: 0 auto;
}

.icon-part {
  background: rgb(15, 15, 15);
  padding: 65px 0;
  color: whitesmoke;
}
.icon-part .icon-part-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1100px;
  margin: 0 auto;
}
.icon-part .icon-part-container .icon-logo {
  margin-bottom: 30px;
}
@media screen and (max-width: 875px) {
  .icon-part .icon-part-container {
    display: block;
  }
}
.icon-part h3 {
  text-transform: uppercase;
  font-weight: 700;
}
.icon-part p {
  width: 80%;
  margin: 10px auto 20px;
}
.icon-part button {
  padding: 9px 32px;
}

.news-part {
  background: rgba(245, 245, 245, 0.8);
  padding: 80px 0 45px;
}
.news-part .head-news {
  display: grid;
  grid-template-columns: 70% 30%;
  max-width: 1000px;
  margin: 0 auto;
}
@media screen and (max-width: 704px) {
  .news-part .head-news {
    display: block;
  }
}
.news-part .head-news .left-part {
  line-height: 30px;
}
@media screen and (max-width: 704px) {
  .news-part .head-news .left-part {
    width: 100%;
  }
}
.news-part .head-news h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  text-align: left;
}
@media screen and (max-width: 704px) {
  .news-part .head-news h2 {
    text-align: center;
  }
}
.news-part .head-news p {
  font-weight: 600;
  font-size: 0.9rem;
  text-align: left;
}
@media screen and (max-width: 704px) {
  .news-part .head-news p {
    text-align: center;
    margin-bottom: 10px;
  }
}
.news-part .head-news button {
  color: rgb(23, 23, 23);
  border-color: rgb(23, 23, 23);
  letter-spacing: 1px;
  padding: 10px 20px;
}
.news-part .head-news button:hover {
  color: rgb(241, 241, 241);
  background: rgb(23, 23, 23);
}
.news-part .main-news-container > div {
  position: relative;
  max-width: 23%;
}
@media screen and (max-width: 704px) {
  .news-part .main-news-container > div {
    max-width: 90%;
    margin: 0 auto;
    padding-bottom: 15px;
    margin-top: 58px;
  }
}
.news-part .main-news-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 1100px;
  margin: 45px auto;
}
@media screen and (max-width: 704px) {
  .news-part .main-news-container {
    display: block;
  }
}
.news-part .main-news-container img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 10px #888;
          box-shadow: 0 2px 10px #888;
}
@media screen and (max-width: 704px) {
  .news-part .main-news-container img {
    width: 50%;
  }
}
.news-part .main-news-container h4 {
  margin: 15px 0;
  text-align: left;
}
.news-part .main-news-container p {
  text-align: left;
  font-size: 0.8rem;
  line-height: 20px;
  margin-bottom: 45px;
}
.news-part .main-news-container a {
  text-transform: uppercase;
  color: rgb(95, 4, 170);
  font-size: 0.7rem;
  letter-spacing: 1px;
  font-weight: 900;
  text-decoration: none;
}
.news-part .main-news-container .link {
  text-align: left;
  position: absolute;
  bottom: 0;
}

.contact {
  padding: 65px 0 20px;
  max-width: 1100px;
  margin: 0 auto;
}
@media screen and (max-width: 704px) {
  .contact {
    display: none;
  }
}
.contact .main-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-weight: 400;
  position: relative;
}
.contact .main-contact::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 1px;
  background: rgb(235, 235, 235);
  bottom: -28px;
}
.contact .main-contact .contact-list {
  text-align: left;
  width: 24%;
}
.contact .main-contact h5 {
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 15px;
}
.contact .main-contact h6 {
  font-size: 0.8rem;
  margin-bottom: 8px;
}
.contact .main-contact ul {
  text-align: left;
}
.contact .main-contact li {
  margin: 15px 0;
}
.contact .main-contact i {
  font-size: 0.8rem;
  margin: 0 12px 30px 0;
}
.contact .main-contact img {
  margin: 0 auto;
  display: block;
}
.contact .main-contact p {
  line-height: 22px;
  margin-bottom: 15px;
}
.contact .main-contact a {
  text-decoration: none;
}
.contact .main-contact .network {
  margin: 20px 0 8px;
}
.contact .footer-contact {
  padding: 60px 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
  margin: 0 auto;
}
.contact .footer-contact .left-contact {
  text-align: left;
  width: 30%;
}
.contact .footer-contact .right-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 70%;
}
.contact .footer-contact h3 {
  text-transform: uppercase;
  font-size: 0.9rem;
  margin-bottom: 12px;
}

footer {
  background: rgb(15, 15, 15);
  color: whitesmoke;
  padding: 25px;
}
footer h3 {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 32px;
}
footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 1000px;
  margin: 0 auto;
}
@media screen and (max-width: 895px) {
  footer ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}/*# sourceMappingURL=index.css.map */